/* background */

/*
.playing-arena {
	background-color: black
}
*/


/*
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
  	.playing-arena {
		padding-right: 0px;
		margin-right: 0px;
		margin-left: 0px;
	}

	.row {
		margin-right: 0;
	}
}
*/