.scoreboard {
  background-color: rgb(252,252,252)
}

.header {
  color: gray;
}

.scoreboard .round-display {
  padding-left: 2.5rem;
}

@media only screen and (max-width: 600px) {
  .score-display h3 {
    font-size: 1.25rem;
  }


  .round-display h2 {
    font-size: 1.75rem;
  }

}

/*

.half-circle {
  max-width: 40%;
  max-height: 15rem; *//* as the half of the width *//*
  border-top-left-radius: 15rem;
  border-top-right-radius: 15rem;
  border: 2px solid white;
  border-bottom: 0;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}



/*
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
  	.points, .score-label {
		display: inline;
		margin-right: .3rem;
	}
}
*/
