.jumbotron.jumbotron-black {
	background-color: rgba(12, 12, 12, 1);
	border-bottom: solid white 1px
}

.title h2 {
	font-size: 4rem;
}

@media only screen and (max-width: 850px) {
	.title h2 {
		font-size: 2rem;
	}

}

@media only screen and (max-width: 600px) {
	.title h2 {
		font-size: 1.5rem;
	}

}